[submodule "native"]
	path = native
	url = https://github.com/maidsafe/safe_client_libs.git
	branch = dev
[submodule "system_uri"]
	path = system_uri
	url = https://github.com/maidsafe/system_uri.git
	branch = master
