[submodule "native"]
	path = native
	url = https://github.com/nbaksalyar/safe_core.git
	branch = patch_ffi
[submodule "system_uri"]
	path = system_uri
	url = https://github.com/gnunicorn/system_uri.git
	branch = fix-ffi-interface
