sudo: true
dist: trusty
os:
- linux
language: node_js
node_js:
- '7.10.0'
cache:
  yarn: true
  directories:
  - node_modules
install:
- NODE_ENV=dev yarn
script:
- yarn lint
- yarn test-coverage
- yarn publish-coverage
deploy:
  provider: npm
  skip_cleanup: true
  email: krishna.kumar@maidsafe.net
  api_key: $NPM_API_KEY
  tag: latest
  on:
    tags: true
