sudo: true
dist: trusty
os:
- linux
language: node_js
node_js:
- '7'
cache:
  yarn: true
  directories:
  - node_modules
install:
- NODE_ENV=dev yarn
script:
- yarn lint
- yarn test-coverage
- yarn publish-coverage
before_deploy:
- rm -f src/native/*.so
deploy:
  provider: npm
  skip_cleanup: true
  email: krishna.kumar@maidsafe.net 
  api_key: $NPM_API_KEY
  tag: next
  on:
    tags: true
