environment:
  nodejs_version: "6.9.1"
  global:
    RUST_BACKTRACE: 1
  matrix:
    - RUST_VERSION: stable

platform:
  - x86
  - x64

cache:
  - node_modules

matrix:
  fast_finish: true

clone_depth: 50

configuration:
  - Release

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - node --version
  - npm --version
  - NODE_ENV=dev npm install

test_script:
  - npm run lint
  - npm test

build: false
